@import "../../../../../host/src/app/layouts/style/main.scss";

#form {
  width: 40rem;
  @include calculateformWidth(50);
}

.buttons-group {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;

  .dx-button {
    font-weight: 500;
  }
}

.login-form {
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(18px);
  box-shadow: inset 0px 0px 14px #e6dfdf;
  padding: 2.4rem;
  border-radius: $base-border-radius;
}

.bg-video {
  @include bg-video(0.5);
}
