$base-accent: #ff5722;
$base-text-color: #000000de;
$base-text-color-2: #ffffff;
$base-bg: #ffffff;
$base-bg-2: #363640;
$base-border-color: #e0e0e0;
$base-border-color-2: #515159;
$base-border-radius: .8rem;
$link-color: #1a66ff !default;
